/* You can add global styles to this file, and also import other style files */
@import "./dist/scss/variables";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, sans-serif;
  font-weight: 400;
}

body {
  background: $primary-background-color;
  color: $primary-text-color;
  caret-color: $primary-text-color;
}

textarea:focus, input, button {
  outline: none;
  color: $secondary-text-color;
}

button {
  cursor: pointer;
}

.container {
  margin: 4vh 30vw 4vh 30vw;
}

@media (max-width: 1024px) {
  .container {
    margin: 3vh 15vw 3vh 15vw;
  }
}

ul {
  list-style: none;
}

button {
  padding: 16px;
  border-radius: 8px;
  border: none;
  color: $primary-text-color;
}
