:host {
  form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #51535D;
    padding: 1rem;
    border-radius: 0.5rem;

    input {
      width: 100%;
      background: none;
      font-size: 1.1rem;
      color: var(--white);
      &::placeholder {
        color: silver;
      }
    }
  }
}
