@import "./../../../../../dist/scss/variables";

section {
  width: 100%;
  min-height: 400px;
}

ul{
  display: flex;
  flex-direction: column;
  gap: 16px;
}

li {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $tertiary-background-color;
  border: 1px solid $light-background-color;
  border-radius: 8px;
  padding: 16px;
}

.input-container {
  display: flex;
  gap: 2vw;
}

input {
  &[type="checkbox"] {
    appearance: none;
    background-color: $secondary-background-color;
    font: inherit;
    color: currentColor;
    width: 1.5rem;
    height: 1.5rem;
    border: 0.1rem solid $primary-color;
    border-radius: 0.15em;
    transform: translateY(-0.075em);
    &.checked {
      background-color: $done-color;
      border: none;
      background-image: url("../../../../../assets/icons/check-solid.svg");
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  &[type="text"] {
    border: none;
    background: none;
    &.checked {
      text-decoration: line-through;
    }
  }
}

.remove {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background: none;
  width: 2rem;
  height: 2rem;
}
