<section>
  <h3 #content>Lifecycles</h3>
  <!--
A component's lifecycle is the sequence of steps that happen between the component's creation and its destruction. Each step represents a different part of Angular's process for rendering components and checking them for updates over time.
In your components, you can implement lifecycle hooks to run code during these steps.
  -->

  <button (click)="myText.set('Melory Ayala')">New text</button>
  <br>
  <p>{{myText()}} - {{myNumber()}}</p>
</section>
