/* You can add global styles to this file, and also import other style files */
@import "./config-scss/reset";
@import "./config-scss/variables";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,400;1,500;1,700&display=swap');

html {
  font-family: Roboto, sans-serif;
  background: var(--primary-color);
}

main {
  margin: 0 25vw;
}

@media (max-width: 1024px) {
  main{
    margin: 0 15vw;
  }
}
